# -*- mode: gitignore; -*-
*~
\#*\#
*.elc
emacs.d/auto-save-list
emacs.d/tramp
emacs.d/transient
.\#*

emacs.d/eshell/history
emacs.d/eshell/lastdir
emacs.d/elpa/
emacs.d/server/
emacs.d/games/
emacs.d/network-security.data
